<!doctype html>
<html ng-app="modal-test">
  <head>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <script src="assets/js/angular-animate.js"></script>
    <script src="assets/js/angular-toastr.tpls.js"></script>
    <link href="assets/css/angular-toastr.css" rel="stylesheet">

  </head>
  <body>
    <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
        <script type="text/ng-template" id="myModalContent.html">
            <form name="userForm">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" placeholder="Enter full name" name="name" ng-model="user.name" required>
                        <span style="color:red" ng-show="userForm.name.$dirty && userForm.name.$invalid">
                            <span ng-show="userForm.name.$error.required">Full name is required.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Enter email" name="email" ng-model="user.email" required>
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small><br>
                        <span style="color:red" ng-show="userForm.email.$dirty && userForm.email.$invalid">
                            <span ng-show="userForm.email.$error.required">Email is required.</span>
                            <span ng-show="userForm.email.$error.email">Invalid email address.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" required password-strength>
                        <span style="color:red" ng-show="userForm.password.$dirty && userForm.password.$invalid">
                            <span ng-show="userForm.password.$error.required">Password is required.</span>
                            <span ng-show="userForm.password.$error.strongPassword">Password has to have letter e.</span>
                        </span>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" ng-model="user.admin">
                        <label class="form-check-label">Admin</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" ng-disabled="!userForm.$valid" ng-click="$ctrl.ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
            </form>
        </script>
        
        <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Add User</button>

        <table class="table">
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Admin</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.admin}}</td>
            </tr>
        </table>
    </div>
  </body>
  <script>
    var app = angular.module('modal-test', ['ui.bootstrap', 'ngAnimate', 'toastr']);

    app.directive('passwordStrength', function() {
        return {
            require: 'ngModel',
            link: function(scope, element, attr, mCtrl) {
                function validatePasswordStrength(value) {
                    if (value.indexOf("e") > -1) {
                        mCtrl.$setValidity('strongPassword', true);
                    } else {
                        mCtrl.$setValidity('strongPassword', false);
                    }
                    return value;
                }
                mCtrl.$parsers.push(validatePasswordStrength);
            }
        }
    });

    app.controller('ModalDemoCtrl', function ($scope, $uibModal, $rootScope, toastr) {
        $scope.users = [{
            name: 'Dino KECO',
            email: 'dino.keco@ibu.edu.ba',
            password: '123',
            admin: true
        }];

        this.open = function () {
            modalInstance = $uibModal.open({
                templateUrl: 'myModalContent.html',
                controller: 'ModalDemoCtrl',
                controllerAs: '$ctrl',
            });

            modalInstance.result.then(function (user) {
                console.log('Modal OK clicked');
                console.log(user);
                $scope.users.push(user);
                toastr.success('User has been added to system');
            }, function () {
                console.log('Modal dismissed');
            });

            $rootScope.modalInstance = modalInstance;
        };

        this.ok = function(){
            $rootScope.modalInstance.close($scope.user);
        };

        this.cancel = function(){
            $rootScope.modalInstance.dismiss();
        };
    });
  </script>
</html>